@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// @import "bootstrap/scss/mixins"; 
@import url('./btn.css');
@import url('./popup.css');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "DM Sans", serif !important;
  // background-color: #000 !important;
  // color: #FFF !important;
}
@function rem($size) {
  @return #{$size / 16px}rem;
}

@mixin media-breakpoint-down($size) {
  @if $size == xl {
    @media (max-width: 1200px) { @content; }
  }
  @if $size == lg {
    @media (max-width: 992px) { @content; }
  }
  @if $size == md {
    @media (max-width: 787px) { @content; }
  }
  @if $size == sm {
    @media (max-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (max-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (max-width: 370px) { @content; }
  }
}

@mixin media-breakpoint-up($size) {
  @if $size == xl {
    @media (min-width: 1200px) { @content; }
  }
  @if $size == lg {
    @media (min-width: 992px) { @content; }
  }
  @if $size == md {
    @media (min-width: 767px) { @content; }
  }
  @if $size == sm {
    @media (min-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (min-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (min-width: 370px) { @content; }
  }
}

.app-Header{
  height: rem(150px);

  @include media-breakpoint-down(sm) {
    height: rem(100px);

  }
  &-logo {
    width: rem(250px);
    display: block;
    @include media-breakpoint-down(lg) {
      width: rem(180px);
    }
    @include media-breakpoint-down(sm) {
      width: rem(140px);
    }
    @include media-breakpoint-down(xs) {
      width: rem(120px);
    }
    a {
      &:hover {
        color: currentColor;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.successfully{
  font-size: 20px;
  font-weight: 500;
  width: 370px;
}

.intro{
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .heeder{
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .body{
    padding: 100px 0;
    @include media-breakpoint-down(md) {
      padding: 70px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 0;
    }
    a, .logout{
      font-size: 28px;
      color: #B8B8B8;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
    }
    a.active{
      color: #000 !important;
    }
    hr{
      color: #000;
    }
  }
  form{
    input {
      min-width: 100%;
      display: block;
      outline: none;
      padding: 10px;
      margin: 10px 0 20px 0;
      border: 1.5px solid black;
      box-sizing: border-box;
    }
  }
}
.widh{
  width: 100%;
  justify-content: center;
  display: flex;
  .add-order{
    margin: 10px 0;
    width: 322px;
    font-size: 32px;
  font-weight: 600;
  }
  p{
    width: 422px;
    font-size: 20px;
    font-weight: 500;
  }
}
.app-cards {
  background-color: #000;
  color: #fff;
  padding: 20px;
 .app-cards-img {
   display: grid;
   place-items: center; 
   width: 100%;
   height: auto;
   overflow: hidden;
   img {
     width: 100%;
     height: auto;
     grid-area: 1 / 1; 
     transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
     &:last-child {
       opacity: 0;
       visibility: hidden;
     }
   }
 }

 &:hover {
   .app-cards-img {
     img {
       &:first-child {
         opacity: 0;
         visibility: hidden;
       }
       &:last-child {
         opacity: 1;
         visibility: visible;
       }
     }
   }
 }

}

.second-section{
  padding: 0px 0 100px;
  @include media-breakpoint-down(md) {
    padding: 0px 0 100px;

  }
  @include media-breakpoint-down(sm) {
    padding: 0px 0 100px;

  }
  h3{
    font-size: rem(50px);
    font-weight: 500;
  }
}
.footer {
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  color: white;
  text-align: left;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  p, li {
      font-size: 18px;
  }

  a {
      color: white;
      // text-decoration: none;
      // &:hover {
      //     text-decoration: underline;
      // }
  }
.fs-base{
  font-size: 16px;
  margin-top: 30px;
}
  .input-group {
      max-width: 400px;
      border: 2px solid  #FFF;
     input{
      background-color: transparent;
      color: #fff;

      outline: none !important;
      border: none !important;
     }
     input::placeholder{
      color: #fff;
     }
     button{
      padding: 8px 10px;
      background-color: #fff;
      border: none;
      cursor: pointer;
     }
  }
.baianat{
  text-decoration: underline !important;
}
  .footer-logo {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }
.list-unstyled a{
  text-decoration: none !important;
}
  .d-flex a {
      font-size: 22px;
      color: white;
  }
}