@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// @import "bootstrap/scss/mixins"; 
@import url('./btn.css');
@import url('./popup.css');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "DM Sans", serif !important;
  background-color: #000 !important;
  color: #FFF !important;
}
@function rem($size) {
  @return #{$size / 16px}rem;
}

@mixin media-breakpoint-down($size) {
  
  @if $size == xxl {
    @media (max-width: 1660px) { @content; }
  }
  @if $size == xl {
    @media (max-width: 1200px) { @content; }
  }
  @if $size == lg {
    @media (max-width: 992px) { @content; }
  }
  @if $size == md {
    @media (max-width: 787px) { @content; }
  }
  @if $size == sm {
    @media (max-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (max-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (max-width: 370px) { @content; }
  }
}

@mixin media-breakpoint-up($size) {
  @if $size == xl {
    @media (min-width: 1200px) { @content; }
  }
  @if $size == lg {
    @media (min-width: 992px) { @content; }
  }
  @if $size == md {
    @media (min-width: 767px) { @content; }
  }
  @if $size == sm {
    @media (min-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (min-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (min-width: 370px) { @content; }
  }
}

.app-Header{
  height: rem(150px);

  @include media-breakpoint-down(sm) {
    height: rem(100px);

  }
  &-logo {
    width: rem(250px);
    display: block;
    @include media-breakpoint-down(lg) {
      width: rem(180px);
    }
    @include media-breakpoint-down(sm) {
      width: rem(140px);
    }
    @include media-breakpoint-down(xs) {
      width: rem(120px);
    }
    a {
      &:hover {
        color: currentColor;
      }
    }
  }
}
.intro{
  padding-top: rem(150px);
  padding-bottom: rem(150px);
  background-image: url('../static/images/1.png');
  object-fit: contain;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
  // top: 0;
  z-index: -1;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  display: flex;
  color: #fff;
  .content h1{
    font-size: rem(70px);
    font-weight: 400;
    @include media-breakpoint-down(md) {
      font-size: rem(55px);
    }
    @include media-breakpoint-down(sm) {
      font-size: rem(40px);
    }
  }
}

canvas {
  border: 2px solid white;
}
.colors {
  display: flex;
  margin-top: 20px;
}
.color-btn {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.3s ease;
}
.color-btn:hover {
  transform: scale(1.2);
}
.seconed-section{
  background: linear-gradient(343deg, #000 47.2%, #666 168.62%);
  justify-content: center;
    display: flex;
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;

    }
    img{
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 700px;
    }
}
.products{
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  h3{
    font-weight: 400;
    font-size: rem(50px);
    @include media-breakpoint-down(md) {
      font-size: rem(40px);
    }
    @include media-breakpoint-down(sm) {
      font-size: rem(35px);
    }
    @include media-breakpoint-down(xs) {
      font-size: rem(27px);
    }
  }
  .app-card {
      border-bottom: 1px solid #DAA167;
    .app-card-img {
      display: grid;
      place-items: center; 
      width: 100%;
      height: auto;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        grid-area: 1 / 1; 
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
        &:last-child {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  
    &:hover {
      .app-card-img {
        img {
          &:first-child {
            opacity: 0;
            visibility: hidden;
          }
          &:last-child {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

  }
  
}
.about-us{
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  &-img{
    width: rem(300px);
    height:  rem(70px);
    @include media-breakpoint-down(md) {
      width: rem(200px);
      height:  rem(60px);
    }
    @include media-breakpoint-down(sm) {
      width: rem(150px);
      height:  rem(50px);
    }
  }
  .img{
    width: 100%;
    height: 100%;
  }
}



.lipstick-container {
  position: relative;
  width: 100px;
  height: 200px;
}
.lipstick img {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}
.color-options {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
  z-index: 1;
}
.color {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    width: 40px;
    height: 40px;
  }
}
.color.active::after{
  content: '';
  border: 2.3px solid #000;
  width: 47px;
  height: 46px;
  display: flex;
  border-radius: 50px;
  @include media-breakpoint-down(sm) {
    width: 36px;
    height: 36px;
  }
}
.color.active {
  opacity: 1;
  border: 2px solid #fff;
}

.test{
  height: rem(200px);
  display: flex;
  @include media-breakpoint-down(lg) {
    height: rem(140px);
  }
  @include media-breakpoint-down(md) {
    height: rem(120px);
  }
  @include media-breakpoint-down(sm) {
    height: rem(100px);
  }
  @include media-breakpoint-down(xs) {
    height: rem(80px);
  }
  img{
    height: 100%;
    width: 100%;
    max-width: rem(250px);
    @include media-breakpoint-down(sm) {
      max-width: rem(80px);
    }
  }
  button{
    background-color: #A51421;
    color: #fff;
    font-size: rem(70px);
    width: 100%;
    border: none;
    @include media-breakpoint-down(lg) {
      font-size: rem(40px);
    }
    @include media-breakpoint-down(md) {
      font-size: rem(40px);
    }
    // @include media-breakpoint-down(xs) {
    //   font-size: rem(20px);
    // }
    @include media-breakpoint-down(xxs) {
      font-size: rem(25px);
    }
    &:hover{
      background: #fff;
      color: #000;
      svg{
      fill: #000;

      }
    }
    svg{
      width: 200px;
      height: 100px;
      fill: #fff;
      @include media-breakpoint-down(lg) {
        width: 100px;
        height: 80px;
      }
      @include media-breakpoint-down(md) {
        width: 80px;
        height: 40px;
      }
      @include media-breakpoint-down(xxs) {
        width: 60px;
        height: 20px;
      }
    }
  }
}
.all {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #000;
  .findYourShade {
    text-align: center;
    padding: 100px 0;
    background-image: url("../static/images/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    cursor: pointer;
    min-height: 390px;
    @include media-breakpoint-up(xs) {
      min-height: 600px;
    }
    @include media-breakpoint-up(sm) {
      min-height: 800px;
    }
    @include media-breakpoint-up(md) {
      min-height: 650px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 700px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 900px;
    }
    
h3{
  font-weight: 400;
  font-size: rem(60px);
  @include media-breakpoint-down(md) {
    font-size: rem(40px);
  }
  @include media-breakpoint-down(sm) {
    font-size: rem(35px);
  }
  @include media-breakpoint-down(xs) {
    font-size: rem(27px);
  }
}
  }
  .hiddenSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; // يأخذ طول المحتوى
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    .mySwiper {
      display: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
    .cards {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      .img {
        flex: 1 1 20%;
        img {
          width: 100%;
          height: 100%;
          max-height: rem(350px);
          object-fit: cover;
          opacity: 0;
          transform: scale(0.8);
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
          @include media-breakpoint-down(xl) {
            height: rem(240px);
          }
        }
      }
    }
  }
  &:hover,
  &:focus-within {
    .findYourShade {
      opacity: 0;
    }

    .hiddenSection {
      opacity: 1;
      visibility: visible;

      .cards .img img {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}



// .all{
//   position: relative;
//   overflow: hidden;

//   .findYourShade{
//     text-align: center;
//     padding: 100px 0;
//     background-image: url('../static/images/5.png');
//     height: rem(900px);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   transition: opacity 0.5s ease, height 0.5s ease;
//   cursor: pointer;
//   // height: 900px;

//   @include media-breakpoint-down(lg) {
  
//   height: rem(750px);
  
//   }
//     @include media-breakpoint-down(md) {
//       padding: 70px 0;
//     height: rem(750px);
  
//     }
//     @include media-breakpoint-down(sm) {
//       padding: 40px 0;
//     height: rem(500px);
  
//     }
//     h3{
//       font-weight: 400;
//       font-size: rem(70px);
//       margin-bottom: 20px;
//       @include media-breakpoint-down(md) {
//         font-size: rem(45px);
//       }
//       @include media-breakpoint-down(sm) {
//         font-size: rem(35px);
//       }
//     }
//     .circle {
//       width: 75px;
//       height: 75px;
//       border-radius: 50%;
//       @include media-breakpoint-down(sm) {
//         width: 50px;
//         height: 50px;
//       }
//   }
//   img{
//     width: 100%;
//     height: 100%;
//   }
//   }
//   .hiddenSection{
//     opacity: 0;
//     visibility: hidden;
//     height: 0px;

//     overflow: hidden;
//     transition: opacity 0.5s ease, max-height 0.5s ease;
//     .cards {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: center;
//       max-height: 0;
//       transition: max-height 0.6s ease-in-out;
//       @include media-breakpoint-down(sm) {
//         display: grid;
//         grid-template-columns: auto auto auto;
//       }
//       .img {
//         flex: 1 1 20%;
//         padding: 3px;

    
//         img{
//           object-fit: cover;
//           opacity: 0;
//           transform: scale(0);
//           transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
//         }
//       }
//       img {
//         width: 100%;
//         height: 100%;
//         max-height: rem(350px);

//       }
//     }
//   }
// }
.popup{
  h2{
    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }
  }
  .scail{
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 50% !important;
    }
    @include media-breakpoint-down(sm) {
      width: 71% !important;
    }
    @include media-breakpoint-down(xxs) {
      width: 85% !important;
    }
    @include media-breakpoint-down(xs) {
      width: 90% !important;
    }
  }
}

.footer {
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  color: white;
  text-align: left;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  p, li {
      font-size: 18px;
  }

  a {
      color: white;
      // text-decoration: none;
      // &:hover {
      //     text-decoration: underline;
      // }
  }
.fs-base{
  font-size: 16px;
  margin-top: 30px;
}
  .input-group {
      max-width: 400px;
      border: 2px solid  #FFF;
     input{
      background-color: transparent;
      color: #fff;

      outline: none !important;
      border: none !important;
     }
     input::placeholder{
      color: #fff;
     }
     button{
      padding: 8px 10px;
      background-color: #fff;
      border: none;
      cursor: pointer;
     }
  }
.baianat{
  text-decoration: underline !important;
}
  .footer-logo {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }
.list-unstyled a{
  text-decoration: none !important;
}
  .d-flex a {
      font-size: 22px;
      color: white;
  }
}
