@mixin media-breakpoint-down($size) {
  @if $size == xl {
    @media (max-width: 1440px) { @content; }
  } @else if $size == lg {
    @media (max-width: 992px) { @content; }
  } @else if $size == md {
    @media (max-width: 768px) { @content; }
  } @else if $size == sm {
    @media (max-width: 576px) { @content; }
  } @else if $size == xs {
    @media (max-width: 375px) { @content; }
  } @else if $size == xxs {
    @media (max-width: 320px) { @content; }
  } @else if $size == xxl {
    @media (max-width: 2600px) { @content; } 
  }
}

.button-outline{
background-color: transparent;
border: none;
color: #fff;
font-size: 17px;
font-weight: 400;
svg{
  fill: #fff;
  width: 40px;
}
@include media-breakpoint-down(xxl) {
  font-size: 20px;
  padding: 12px 35px;
}
@include media-breakpoint-down(xl) {
  font-size: 20px;
  padding: 10px 30px;
}
@include media-breakpoint-down(lg) {
  font-size: 20px;
  padding: 8px 20px;
}
@include media-breakpoint-down(sm) {
  font-size: 15px;
  padding: 6px 15px;
}
}
.button-border{
  background-color: transparent;
border: 2px solid #fff;
padding: 8px 20px;
transition: .2s;
color: #fff;
font-size: 17px;
font-weight: 400;
svg{
  fill: #fff;
}
@include media-breakpoint-down(xxl) {
  font-size: 20px;
  padding: 12px 35px;
}
@include media-breakpoint-down(xl) {
  font-size: 20px;
  padding: 10px 30px;
}
@include media-breakpoint-down(lg) {
  font-size: 20px;
  padding: 8px 20px;
}
@include media-breakpoint-down(sm) {
  font-size: 15px;
  padding: 6px 15px;
}
&:hover {
 background-color: #fff;
 color: #000;
 svg{
  fill: #000;
}
}
}
.button-bg{
  background-color: #fff;
  border: 2px solid #fff;
  padding: 8px 20px;
  transition: .2s;
  font-size: 17px;
font-weight: 400;
@include media-breakpoint-down(xxl) {
  font-size: 20px;
  padding: 12px 35px;
}
@include media-breakpoint-down(xl) {
  font-size: 20px;
  padding: 10px 30px;
}
@include media-breakpoint-down(lg) {
  font-size: 20px;
  padding: 8px 20px;
}
@include media-breakpoint-down(sm) {
  font-size: 15px;
  padding: 6px 15px;
}
  svg{
    fill: #000;
  }
 &:hover{
  background-color: transparent;
  color: #fff !important;
  svg{
    fill: #fff;
  }
 }
}
.button-outline-dark{
  background-color: transparent;
border: none;
color: #000;
font-size: 17px;
font-weight: 400;
svg{
  fill: #000;
}
@include media-breakpoint-down(xxl) {
  font-size: 20px;
  padding: 12px 35px;
}
@include media-breakpoint-down(xl) {
  font-size: 20px;
  padding: 10px 30px;
}
@include media-breakpoint-down(lg) {
  font-size: 20px;
  padding: 8px 20px;
}
@include media-breakpoint-down(sm) {
  font-size: 15px;
  padding: 6px 15px;
}
}
.button-border-dark{
  background-color: transparent;
  border: 2px solid #000;
  padding: 8px 20px;
  transition: .2s;
  color: #000;
  font-size: 17px;
  font-weight: 400;
  svg{
    fill: #000;
  }
  @include media-breakpoint-down(xxl) {
    font-size: 20px;
    padding: 12px 35px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 20px;
    padding: 10px 30px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    padding: 8px 20px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 15px;
    padding: 6px 15px;
  }
  &:hover {
    background-color: #000;
    color: #fff !important;
    span{
    color: #fff !important;

  }
  svg{
    fill: #fff;
  }
  }
}
.button-bg-dark{
  background-color: #000;
  border: 2px solid #000;
  padding: 8px 20px;
  transition: .2s;
  font-size: 17px;
font-weight: 400;
color: #fff;
span{
color: #fff !important;

}
@include media-breakpoint-down(xxl) {
  font-size: 20px;
  padding: 12px 35px;
}
@include media-breakpoint-down(xl) {
  font-size: 20px;
  padding: 10px 30px;
}
@include media-breakpoint-down(lg) {
  font-size: 20px;
  padding: 8px 20px;
}
@include media-breakpoint-down(sm) {
  font-size: 15px;
  padding: 6px 15px;
}
  svg{
    fill: #fff;
  }
 &:hover{
  background-color: transparent;
  color: #000;
  span{
    color: #000 !important;
    
    }
  svg{
    fill: #000;
  }
 }
}