@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// @import "bootstrap/scss/mixins"; 
@import url('./btn.css');
@import url('./popup.css');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "DM Sans", serif !important;
  // background-color: #000 !important;
  // color: #FFF !important;
}
@function rem($size) {
  @return #{$size / 16px}rem;
}

@mixin media-breakpoint-down($size) {
  @if $size == lg {
    @media (max-width: 992px) { @content; }
  }
  @if $size == md {
    @media (max-width: 767px) { @content; }
  }
  @if $size == sm {
    @media (max-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (max-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (max-width: 370px) { @content; }
  }
}

.app-Header{
  height: rem(150px);

  @include media-breakpoint-down(sm) {
    height: rem(100px);

  }
  &-logo {
    width: rem(250px);
    display: block;
    @include media-breakpoint-down(lg) {
      width: rem(180px);
    }
    @include media-breakpoint-down(sm) {
      width: rem(140px);
    }
    @include media-breakpoint-down(xs) {
      width: rem(120px);
    }
    a {
      &:hover {
        color: currentColor;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.app-body{
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  @include media-breakpoint-down(xs) {
    padding: 20px 0;
  }
}
.form {
  background-color: #F7F7F7;
    padding: 40px;
  label {
    display: block;
  }
  input {
    min-width: 100%;
    display: block;
    outline: none;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1.5px solid black;
    box-sizing: border-box;
  }
  textarea {
    min-width: 100%;
    min-height: 150px;
    display: block;
    outline: none;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
  .send {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}


.header {
  font-size: 50px;
  @include media-breakpoint-down(md) {
    font-size: 40px;

  }
  @include media-breakpoint-down(sm) {
    font-size: 30px;

  }
}

.img-done {
  // width: 20px;
  height: 4vh;
  margin-bottom: 20px;
}
.block {
  margin-bottom: 40px;
  &-header {
    font-size: 32px;
    font-weight: 500;
  }
}
.shop-now {
  background-color: #F7F7F7;
  padding: 40px 40px;
  // justify-content: space-between;
  &-text {
    @include media-breakpoint-down(lg) {
      // width: 100%;
      margin-bottom: 20px;
    }
  }
  &-btn {
      padding: 10px 20px;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
    }
  @include media-breakpoint-down(lg) {
    width: 150%;
    margin-left: rem(-70px);
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-left: rem(0px);
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: rem(0px);
  }
}
.footer {
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  color: white;
  text-align: left;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  p, li {
      font-size: 18px;
  }

  a {
      color: white;
      // text-decoration: none;
      // &:hover {
      //     text-decoration: underline;
      // }
  }
.fs-base{
  font-size: 16px;
  margin-top: 30px;
}
  .input-group {
      max-width: 400px;
      border: 2px solid  #FFF;
    input{
      background-color: transparent;
      color: #fff;

      outline: none !important;
      border: none !important;
    }
    input::placeholder{
    color: #fff;
    }
    button{
    padding: 8px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    }
  }
.baianat{
  text-decoration: underline !important;
}
  .footer-logo {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }
.list-unstyled a{
  text-decoration: none !important;
}
  .d-flex a {
      font-size: 22px;
      color: white;
  }
}