@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("./btn.css");
@import url("./popup.css");
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "DM Sans", serif !important;
}

.app-Header {
  height: 9.375rem;
}
@media (max-width: 580px) {
  .app-Header {
    height: 6.25rem;
  }
}
.app-Header-logo {
  width: 15.625rem;
  display: block;
}
@media (max-width: 992px) {
  .app-Header-logo {
    width: 11.25rem;
  }
}
@media (max-width: 580px) {
  .app-Header-logo {
    width: 8.75rem;
  }
}
@media (max-width: 490px) {
  .app-Header-logo {
    width: 7.5rem;
  }
}
.app-Header-logo a:hover {
  color: currentColor;
}
.app-Header-logo img {
  width: 100%;
  height: 100%;
}

.intros {
  padding: 50px 0;
}
@media (max-width: 580px) {
  .intros {
    padding: 40px 0;
  }
}
.intros .content {
  width: 100%;
  max-width: 34.375rem;
}
@media (max-width: 992px) {
  .intros .content {
    text-align: center;
  }
}
.intros .content h3 {
  font-size: 3.125rem;
  font-weight: 500;
}
.intros .content p {
  width: 544px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 580px) {
  .intros .content p {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .intros .content p {
    width: 100%;
    margin: auto;
  }
}
.intros .progres {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: auto;
}
.intros .step {
  width: 80px;
  height: 8px;
  background-color: #ccc;
  transition: background-color 0.3s;
}
@media (max-width: 411px) {
  .intros .step {
    width: 65px;
  }
}
.intros .step.active {
  background-color: #000;
}
.intros .question {
  margin-top: 30px;
  display: none;
}
.intros #question-1 {
  display: block;
}
@media (max-width: 411px) {
  .intros #question-1 h2 {
    font-size: 18px;
  }
}
@media (max-width: 411px) {
  .intros #question-2 h2 {
    font-size: 20px;
  }
}
@media (max-width: 411px) {
  .intros #question-3 h2 {
    font-size: 20px;
  }
}
@media (max-width: 411px) {
  .intros #question-4 h2 {
    font-size: 20px;
  }
}
.intros .fair {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.intros .fair p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .fair p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 411px) {
  .intros .fair p {
    font-size: 20px;
  }
}
.intros .fair .colors {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .intros .fair .colors {
    gap: 10px;
  }
}
@media (max-width: 490px) {
  .intros .fair .colors {
    gap: 5px;
  }
}
.intros .fair .colors div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .intros .fair .colors div {
    width: 85px;
    height: 85px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .fair .colors div {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .fair .colors div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
@media (max-width: 342px) {
  .intros .fair .colors div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
.intros .fair .colors div:nth-child(1) {
  background: #DAA167;
}
.intros .fair .colors div:nth-child(2) {
  background: #D8975F;
}
.intros .fair .colors div:nth-child(3) {
  background: #C58B5F;
}
.intros .fair .colors div:nth-child(4) {
  background: #A96338;
}
.intros .medium {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.intros .medium p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .medium p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 411px) {
  .intros .medium p {
    font-size: 20px;
  }
}
.intros .medium .colors {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .intros .medium .colors {
    gap: 10px;
  }
}
@media (max-width: 490px) {
  .intros .medium .colors {
    gap: 5px;
  }
}
.intros .medium .colors div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .intros .medium .colors div {
    width: 85px;
    height: 85px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .medium .colors div {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .medium .colors div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
@media (max-width: 342px) {
  .intros .medium .colors div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
.intros .medium .colors div:nth-child(1) {
  background: #DAA167;
}
.intros .medium .colors div:nth-child(2) {
  background: #D8975F;
}
.intros .medium .colors div:nth-child(3) {
  background: #C58B5F;
}
.intros .medium .colors div:nth-child(4) {
  background: #A96338;
}
.intros .tan {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.intros .tan p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .tan p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 411px) {
  .intros .tan p {
    font-size: 20px;
  }
}
.intros .tan .colors {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .intros .tan .colors {
    gap: 10px;
  }
}
@media (max-width: 490px) {
  .intros .tan .colors {
    gap: 5px;
  }
}
.intros .tan .colors div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .intros .tan .colors div {
    width: 85px;
    height: 85px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .tan .colors div {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .tan .colors div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
@media (max-width: 342px) {
  .intros .tan .colors div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
.intros .tan .colors div:nth-child(1) {
  background: #DAA167;
}
.intros .tan .colors div:nth-child(2) {
  background: #D8975F;
}
.intros .tan .colors div:nth-child(3) {
  background: #C58B5F;
}
.intros .tan .colors div:nth-child(4) {
  background: #A96338;
}
.intros .deep {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.intros .deep p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .deep p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 411px) {
  .intros .deep p {
    font-size: 20px;
  }
}
.intros .deep .colors {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .intros .deep .colors {
    gap: 10px;
  }
}
@media (max-width: 490px) {
  .intros .deep .colors {
    gap: 5px;
  }
}
.intros .deep .colors div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .intros .deep .colors div {
    width: 85px;
    height: 85px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .deep .colors div {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .deep .colors div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
@media (max-width: 342px) {
  .intros .deep .colors div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
.intros .deep .colors div:nth-child(1) {
  background: #DAA167;
}
.intros .deep .colors div:nth-child(2) {
  background: #D8975F;
}
.intros .deep .colors div:nth-child(3) {
  background: #C58B5F;
}
.intros .deep .colors div:nth-child(4) {
  background: #A96338;
}
@media (max-width: 580px) {
  .intros .app-card {
    display: block !important;
  }
}
.intros .app-card .div {
  cursor: pointer;
  width: 170px;
  height: 170px;
  background: #B2B3BE;
}
.intros .app-card h5 {
  font-size: 34px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .intros .app-card h5 {
    font-size: 28px;
  }
}
@media (max-width: 580px) {
  .intros .app-card h5 {
    font-size: 24px;
    margin: 10px 0 0;
  }
}
.intros .app-card p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 580px) {
  .intros .app-card p {
    font-weight: 400;
    margin: 0;
  }
}
.intros .app-card li {
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .intros .app-card li {
    font-size: 14px;
  }
}
.intros .app-card .active {
  border: 2px solid #000;
}
.intros .app-card .active::after {
  content: "";
  border: 2px solid #fff;
  width: 165px;
  height: 165px;
  display: flex;
}
.intros .eye-color {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
@media (max-width: 767px) {
  .intros .eye-color {
    display: block;
  }
}
.intros .eye-color p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .eye-color p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 580px) {
  .intros .eye-color p {
    font-size: 28px;
  }
}
.intros .eye-color .colors {
  display: flex;
  gap: 5%;
}
@media (max-width: 992px) {
  .intros .eye-color .colors {
    gap: 3%;
  }
}
@media (max-width: 767px) {
  .intros .eye-color .colors {
    gap: 8%;
  }
}
@media (max-width: 580px) {
  .intros .eye-color .colors {
    justify-content: space-between;
  }
}
@media (max-width: 490px) {
  .intros .eye-color .colors {
    padding: 0 5px;
  }
}
.intros .eye-color .colors div {
  text-align: center;
}
.intros .eye-color .colors div div {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-color: #E3E3E3;
}
@media (max-width: 992px) {
  .intros .eye-color .colors div div {
    width: 110px;
    height: 110px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .eye-color .colors div div {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .eye-color .colors div div {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .eye-color .colors div div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
.intros .eye-color .colors div div img {
  width: 86px;
  height: 86px;
}
@media (max-width: 992px) {
  .intros .eye-color .colors div div img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .eye-color .colors div div img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .eye-color .colors div div img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .eye-color .colors div div img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
}
.intros .eye-color .colors div span {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}
@media (max-width: 580px) {
  .intros .eye-color .colors div span {
    font-size: 13px;
  }
}
.intros .eye-color .active {
  border: 2px solid #000;
}
.intros .eye-color .active::after {
  content: "";
  border: 2px solid #fff;
  width: 115px;
  height: 115px;
  border-radius: 61px;
  position: absolute;
}
@media (max-width: 992px) {
  .intros .eye-color .active::after {
    width: 106px;
    height: 106px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .eye-color .active::after {
    width: 86px;
    height: 86px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .eye-color .active::after {
    width: 66px;
    height: 66px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .eye-color .active::after {
    width: 51px;
    height: 51px;
    border-radius: 100%;
  }
}
.intros .hair-color {
  display: flex;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .intros .hair-color {
    display: block;
  }
}
.intros .hair-color p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .hair-color p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 580px) {
  .intros .hair-color p {
    font-size: 28px;
  }
}
.intros .hair-color .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.intros .hair-color .colors div {
  text-align: center;
  justify-self: center;
}
.intros .hair-color .colors div div {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-color: #E3E3E3;
}
@media (max-width: 992px) {
  .intros .hair-color .colors div div {
    width: 110px;
    height: 110px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .hair-color .colors div div {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .hair-color .colors div div {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .hair-color .colors div div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
.intros .hair-color .colors div div img {
  width: 86px;
  height: 86px;
}
@media (max-width: 992px) {
  .intros .hair-color .colors div div img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .hair-color .colors div div img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .hair-color .colors div div img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .hair-color .colors div div img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
}
.intros .hair-color .colors div span {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}
@media (max-width: 580px) {
  .intros .hair-color .colors div span {
    font-size: 13px;
  }
}
.intros .hair-color .active {
  border: 2px solid #000;
}
.intros .hair-color .active::after {
  content: "";
  border: 2px solid #fff;
  width: 115px;
  height: 115px;
  border-radius: 61px;
  position: absolute;
}
@media (max-width: 992px) {
  .intros .hair-color .active::after {
    width: 106px;
    height: 106px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .intros .hair-color .active::after {
    width: 86px;
    height: 86px;
    border-radius: 100%;
  }
}
@media (max-width: 490px) {
  .intros .hair-color .active::after {
    width: 66px;
    height: 66px;
    border-radius: 100%;
  }
}
@media (max-width: 411px) {
  .intros .hair-color .active::after {
    width: 51px;
    height: 51px;
    border-radius: 100%;
  }
}
.intros .shades {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
@media (max-width: 767px) {
  .intros .shades {
    display: block;
  }
}
.intros .shades p {
  font-size: 35px;
  font-weight: 500;
  width: 200px;
}
@media (max-width: 767px) {
  .intros .shades p {
    font-size: 30px;
    width: 150px;
  }
}
@media (max-width: 411px) {
  .intros .shades p {
    font-size: 20px;
  }
}
.intros .shades .colors {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
}
@media (max-width: 1275px) {
  .intros .shades .colors {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 992px) {
  .intros .shades .colors {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 767px) {
  .intros .shades .colors {
    justify-content: start;
  }
}
.intros .shades .colors div div {
  cursor: pointer;
  width: 200px;
  height: 80px;
}
@media (max-width: 1440px) {
  .intros .shades .colors div div {
    width: 180px;
    height: 69px;
  }
}
@media (max-width: 580px) {
  .intros .shades .colors div div {
    width: 163px;
    height: 69px;
  }
}
@media (max-width: 411px) {
  .intros .shades .colors div div {
    width: 130px;
    height: 55px;
  }
}
.intros .shades .colors div span {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}
.intros .shades .colors div:nth-child(1) div {
  background: #C03856;
}
.intros .shades .colors div:nth-child(2) div {
  background: #D95E62;
}
.intros .shades .colors div:nth-child(3) div {
  background: #BD8B76;
}
.intros .shades .colors div:nth-child(4) div {
  background: #9B2323;
}
.intros .shades .colors div:nth-child(5) div {
  background: #9B2323;
}
.intros .shades .active {
  border: 2px solid #000;
}
.intros .shades .active::after {
  content: "";
  border: 2px solid #fff;
  width: 196px;
  height: 76px;
  position: absolute;
  border-radius: 0;
}
@media (max-width: 1440px) {
  .intros .shades .active::after {
    width: 176px;
    height: 65px;
  }
}
@media (max-width: 580px) {
  .intros .shades .active::after {
    width: 159px;
    height: 65px;
  }
}
@media (max-width: 411px) {
  .intros .shades .active::after {
    width: 126px;
    height: 51px;
  }
}
.intros #results h3 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 120%;
}
.intros #results p {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  max-width: 400px;
}
.intros .app-cards {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
.intros .app-cards .app-cards-img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.intros .app-cards .app-cards-img img {
  width: 100%;
  height: auto;
  grid-area: 1/1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.intros .app-cards .app-cards-img img:last-child {
  opacity: 0;
  visibility: hidden;
}
.intros .app-cards:hover .app-cards-img img:first-child {
  opacity: 0;
  visibility: hidden;
}
.intros .app-cards:hover .app-cards-img img:last-child {
  opacity: 1;
  visibility: visible;
}

.app-card:nth-child(1) .div {
  background: #BABFB3;
}

.app-card:nth-child(2) .div {
  background: #BABFB3;
}

.app-card:nth-child(3) .div {
  background: #BCB3BE;
}

.colors .active {
  border: 2px solid #000;
}

.colors .active::after {
  content: "";
  border: 2px solid #fff;
  width: 116px;
  height: 116px;
  display: flex;
  border-radius: 61px;
}
@media (max-width: 767px) {
  .colors .active::after {
    width: 81px;
    height: 81px;
  }
}
@media (max-width: 490px) {
  .colors .active::after {
    width: 61px;
    height: 61px;
  }
}
@media (max-width: 411px) {
  .colors .active::after {
    width: 51px;
    height: 51px;
  }
}
@media (max-width: 342px) {
  .colors .active::after {
    width: 46px;
    height: 46px;
    border-radius: 100%;
  }
}

@media (max-width: 490px) {
  .findYourShade p {
    max-width: 347px !important;
  }
}

.next {
  background-color: transparent;
  color: #000;
  border: 1.5px solid #000;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-top: 40px;
}
.next svg {
  fill: #000;
}

.next:hover {
  background-color: #000;
  color: #fff;
}
.next:hover svg {
  fill: #fff;
}

.footer {
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  color: white;
  text-align: left;
  padding: 100px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 70px 0;
  }
}
@media (max-width: 580px) {
  .footer {
    padding: 40px 0;
  }
}
.footer p, .footer li {
  font-size: 18px;
}
.footer a {
  color: white;
}
.footer .fs-base {
  font-size: 16px;
  margin-top: 30px;
}
.footer .input-group {
  max-width: 400px;
  border: 2px solid #FFF;
}
.footer .input-group input {
  background-color: transparent;
  color: #fff;
  outline: none !important;
  border: none !important;
}
.footer .input-group input::-moz-placeholder {
  color: #fff;
}
.footer .input-group input::placeholder {
  color: #fff;
}
.footer .input-group button {
  padding: 8px 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.footer .baianat {
  text-decoration: underline !important;
}
.footer .footer-logo {
  padding-top: 100px;
}
@media (max-width: 767px) {
  .footer .footer-logo {
    padding-top: 70px;
  }
}
@media (max-width: 580px) {
  .footer .footer-logo {
    padding-top: 40px;
  }
}
.footer .list-unstyled a {
  text-decoration: none !important;
}
.footer .d-flex a {
  font-size: 22px;
  color: white;
}/*# sourceMappingURL=find-your-shade.css.map */