/* Popup Styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 650px;
  z-index: 9999;
}
.popup h2 {
  font-size: 40px;
  color: #000;
  font-weight: 500;
}
.popup label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.popup input {
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  border: 1px solid #000;
  outline: none;
}
.popup button {
  display: flex;
  padding: 9px 20px;
  border: 2px solid #000;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.popup input[type=checkbox] {
  width: 35px;
  height: 35px;
}
.popup label:last-child {
  font-size: 14px;
  cursor: pointer;
}
.popup .form-group {
  display: flex;
  align-items: center;
}
.popup .form-group input[type=checkbox] {
  width: 0;
  height: 0;
  -webkit-clip-path: rect(0 0 0 0);
          clip-path: rect(0 0 0 0);
}
.popup .form-group input[type=checkbox] + label {
  position: relative;
  display: block;
  padding-left: 32px;
  line-height: 1.5;
  cursor: pointer;
}
.popup .form-group input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: #000;
  cursor: pointer;
  border: 1px solid #000;
  transition: cubic-bezier(0.8, 0, 0.2, 1) 200ms;
}
.popup .form-group input[type=checkbox] + label:after {
  content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg version="1.1" id="checbox_sign" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="16px" viewBox="0 0 122.881 89.842" enable-background="new 0 0 122.881 89.842" xml:space="preserve"><g><path d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z" style="fill: rgb(255, 255, 255);"/></g></svg>');
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  height: 24px;
  width: 24px;
  opacity: 0;
  scale: 0.75;
  transform-origin: bottom center;
  transform: rotate(30deg);
  transition: ease-in-out 200ms;
}
.popup .form-group input[type=checkbox] + label:hover:before {
  border: 1px solid #000;
}
.popup .form-group input[type=checkbox] + label:focus:before {
  outline: 2px solid #000;
  outline-offset: 2px;
}
.popup .form-group input[type=checkbox]:checked + label:before {
  border-color: #000;
  background: #000;
}
.popup .form-group input[type=checkbox]:checked + label:after {
  transform: rotate(0deg);
  scale: 1;
  opacity: 1;
}
.popup .facebook, .popup .google, .popup .apple {
  display: flex;
  height: 48px;
  padding: 12px;
  border: 1px solid #E3E3E3;
  background: #F9F9F9;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.close-btn {
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}/*# sourceMappingURL=popup.css.map */