@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// @import "bootstrap/scss/mixins"; 
@import url('./btn.css');
@import url('./popup.css');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "DM Sans", serif !important;
  // background-color: #000 !important;
  // color: #FFF !important;
}
@function rem($size) {
  @return #{$size / 16px}rem;
}

@mixin media-breakpoint-down($size) {
  @if $size == lg {
    @media (max-width: 992px) { @content; }
  }
  @if $size == md {
    @media (max-width: 787px) { @content; }
  }
  @if $size == sm {
    @media (max-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (max-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (max-width: 370px) { @content; }
  }
}

.app-Header{
  height: rem(150px);

  @include media-breakpoint-down(sm) {
    height: rem(100px);

  }
  &-logo {
    width: rem(250px);
    display: block;
    @include media-breakpoint-down(lg) {
      width: rem(180px);
    }
    @include media-breakpoint-down(sm) {
      width: rem(140px);
    }
    @include media-breakpoint-down(xs) {
      width: rem(120px);
    }
    a {
      &:hover {
        color: currentColor;
      }
    }
  }
}

.conditions{
  padding-top: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 38.4px;
  color: #B8B8B8;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    display: flex;
    text-align: center;
    &-lnk:nth-child(1) {
      min-width: 250px !important;
    }
    &-lnk:not(:nth-child(1)) {
      min-width: 200px !important;
    }
  }
} 
.active {
  color: black;
  text-decoration: none;
  @include media-breakpoint-down(md) {
    text-decoration: underline;
  }
}

.condition {
  &-head {
    margin-bottom: 50px;
    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 67.2px;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      font-size: 22px;
      margin-bottom: -10px;
    }
  }
  &-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 31.25px;
    color: #787878;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
  &-info {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }
}

.content {
  margin-bottom: 40px;
  &-header {
  font-weight: 500;
  font-size: 24px;
  }
  &-body {
    font-weight: 400;
    font-size: 16px;
  }
}

.footer {
  background: linear-gradient(320deg, #000 47.2%, #666 168.62%);
  color: white;
  text-align: left;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  p, li {
      font-size: 18px;
  }

  a {
      color: white;
      // text-decoration: none;
      // &:hover {
      //     text-decoration: underline;
      // }
  }
.fs-base{
  font-size: 16px;
  margin-top: 30px;
}
  .input-group {
      max-width: 400px;
      border: 2px solid  #FFF;
    input{
      background-color: transparent;
      color: #fff;

      outline: none !important;
      border: none !important;
    }
    input::placeholder{
    color: #fff;
    }
    button{
    padding: 8px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    }
  }
.baianat{
  text-decoration: underline !important;
}
  .footer-logo {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }
.list-unstyled a{
  text-decoration: none !important;
}
  .d-flex a {
      font-size: 22px;
      color: white;
  }
}
