@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("./scss/btn.css");
@import url("./scss/popup.css");
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "DM Sans", serif !important;
  background-color: #000 !important;
  color: #FFF !important;
}

.test {
  height: 12.5rem;
  display: flex;
}
@media (max-width: 992px) {
  .test {
    height: 8.75rem;
  }
}
@media (max-width: 787px) {
  .test {
    height: 7.5rem;
  }
}
@media (max-width: 580px) {
  .test {
    height: 6.25rem;
  }
}
@media (max-width: 370px) {
  .test {
    height: 5rem;
  }
}
.test img {
  height: 100%;
  width: 100%;
  max-width: 15.625rem;
}
@media (max-width: 580px) {
  .test img {
    max-width: 5rem;
  }
}
.test button {
  background-color: #A51421;
  color: #fff;
  font-size: 4.375rem;
  width: 100%;
  border: none;
}
@media (max-width: 992px) {
  .test button {
    font-size: 2.5rem;
  }
}
@media (max-width: 787px) {
  .test button {
    font-size: 2.5rem;
  }
}
@media (max-width: 471px) {
  .test button {
    font-size: 1.5625rem;
  }
}
.test button:hover {
  background: #fff;
  color: #000;
}
.test button:hover svg {
  fill: #000;
}
.test button svg {
  width: 200px;
  height: 100px;
  fill: #fff;
}
@media (max-width: 992px) {
  .test button svg {
    width: 100px;
    height: 80px;
  }
}
@media (max-width: 787px) {
  .test button svg {
    width: 80px;
    height: 40px;
  }
}
@media (max-width: 471px) {
  .test button svg {
    width: 60px;
    height: 20px;
  }
}

.all {
  position: relative;
  overflow: hidden;
}
.all .findYourShade {
  text-align: center;
  padding: 100px 0;
  background-image: url("../static/images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  cursor: pointer;
  height: 900px;
}
@media (max-width: 992px) {
  .all .findYourShade {
    height: 920px;
  }
}
@media (max-width: 787px) {
  .all .findYourShade {
    height: 750px;
  }
}
@media (max-width: 580px) {
  .all .findYourShade {
    height: 750px;
  }
}
@media (max-width: 370px) {
  .all .findYourShade {
    height: 700px;
  }
}
@media (max-width: 471px) {
  .all .findYourShade {
    height: 620px;
  }
}
.all .findYourShade h3 {
  font-weight: 400;
  font-size: 3.75rem;
}
@media (max-width: 787px) {
  .all .findYourShade h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 580px) {
  .all .findYourShade h3 {
    font-size: 2.1875rem;
  }
}
@media (max-width: 370px) {
  .all .findYourShade h3 {
    font-size: 1.6875rem;
  }
}
.all .hiddenSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.all .hiddenSection .mySwiper {
  display: none;
}
@media (max-width: 992px) {
  .all .hiddenSection .mySwiper {
    display: block;
  }
}
.all .hiddenSection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 992px) {
  .all .hiddenSection .cards {
    display: none;
  }
}
.all .hiddenSection .cards .img {
  flex: 1 1 20%;
}
.all .hiddenSection .cards .img img {
  width: 100%;
  height: 100%;
  max-height: 21.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
@media (max-width: 1200px) {
  .all .hiddenSection .cards .img img {
    height: 15rem;
  }
}
.all:hover .findYourShade, .all:focus-within .findYourShade {
  opacity: 0;
}
.all:hover .hiddenSection, .all:focus-within .hiddenSection {
  opacity: 1;
  visibility: visible;
}
.all:hover .hiddenSection .cards .img img, .all:focus-within .hiddenSection .cards .img img {
  opacity: 1;
  transform: scale(1);
}/*# sourceMappingURL=test.css.map */