@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// @import "bootstrap/scss/mixins"; 
@import url('./scss/btn.css');
@import url('./scss/popup.css');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "DM Sans", serif !important;
  background-color: #000 !important;
  color: #FFF !important;
}
@function rem($size) {
  @return #{$size / 16px}rem;
}

@mixin media-breakpoint-down($size) {
  
  @if $size == xxl {
    @media (max-width: 1660px) { @content; }
  }
  @if $size == xl {
    @media (max-width: 1200px) { @content; }
  }
  @if $size == lg {
    @media (max-width: 992px) { @content; }
  }
  @if $size == md {
    @media (max-width: 787px) { @content; }
  }
  @if $size == sm {
    @media (max-width: 580px) { @content; }
  }
  @if $size == xxs {
    @media (max-width: 471px) { @content; }
  }
  @if $size == xs {
    @media (max-width: 370px) { @content; }
  }
}


.test{
  height: rem(200px);
  display: flex;
  @include media-breakpoint-down(lg) {
    height: rem(140px);
  }
  @include media-breakpoint-down(md) {
    height: rem(120px);
  }
  @include media-breakpoint-down(sm) {
    height: rem(100px);
  }
  @include media-breakpoint-down(xs) {
    height: rem(80px);
  }
  img{
    height: 100%;
    width: 100%;
    max-width: rem(250px);
    @include media-breakpoint-down(sm) {
      max-width: rem(80px);
    }
  }
  button{
    background-color: #A51421;
    color: #fff;
    font-size: rem(70px);
    width: 100%;
    border: none;
    @include media-breakpoint-down(lg) {
      font-size: rem(40px);
    }
    @include media-breakpoint-down(md) {
      font-size: rem(40px);
    }
    // @include media-breakpoint-down(xs) {
    //   font-size: rem(20px);
    // }
    @include media-breakpoint-down(xxs) {
      font-size: rem(25px);
    }
    &:hover{
      background: #fff;
      color: #000;
      svg{
      fill: #000;

      }
    }
    svg{
      width: 200px;
      height: 100px;
      fill: #fff;
      @include media-breakpoint-down(lg) {
        width: 100px;
        height: 80px;
      }
      @include media-breakpoint-down(md) {
        width: 80px;
        height: 40px;
      }
      @include media-breakpoint-down(xxs) {
        width: 60px;
        height: 20px;
      }
    }
  }
}

.all {
  position: relative;
  overflow: hidden;

  .findYourShade {
    text-align: center;
    padding: 100px 0;
    background-image: url("../static/images/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    cursor: pointer;
    height: 900px;
    @include media-breakpoint-down(lg) {
      height: 920px;
    }
    @include media-breakpoint-down(md) {
      height: 750px;
    }
    @include media-breakpoint-down(sm) {
    height: 750px;
    }
    @include media-breakpoint-down(xs) {
        
      height: 700px;

    }
    @include media-breakpoint-down(xxs) {
        
      height: 620px;
    }

h3{
  font-weight: 400;
  font-size: rem(60px);
  @include media-breakpoint-down(md) {
    font-size: rem(40px);
  }
  @include media-breakpoint-down(sm) {
    font-size: rem(35px);
  }
  @include media-breakpoint-down(xs) {
    font-size: rem(27px);
  }
}
  }
  .hiddenSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; // يأخذ طول المحتوى
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    .mySwiper {
      display: none;
      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
    .cards {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      .img {
        flex: 1 1 20%;
        img {
          width: 100%;
          height: 100%;
          max-height: rem(350px);
          object-fit: cover;
          opacity: 0;
          transform: scale(0.8);
          
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
          
          @include media-breakpoint-down(xl) {
            height: rem(240px);
          }
        }
      }
    }
  }
  &:hover,
  &:focus-within {
    .findYourShade {
      opacity: 0;
    }

    .hiddenSection {
      opacity: 1;
      visibility: visible;

      .cards .img img {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}